/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #444444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
.subTitle {
  font-family: 'Oswald', sans-serif;
}
section {
  padding: 60px 0px;
  overflow: hidden;
}

/*--------------------------------------------------------------
# header section css
--------------------------------------------------------------*/
.brand-logo {
  max-width: 150px;
  height: auto;
}
.brand-logo2 {
  max-width: 100%;
  vertical-align: middle;
}
.section-title {
  text-align: center;
  margin-bottom: 10px;
}
.section-title h3 {
  font-size: 2.2rem;
  line-height: 1.3rem;
  font-weight: 700;
  margin: 0px 0 1rem;
  text-transform: uppercase;
  color: #121521;
}
.section-title p {
  color: #585858;
  font-size: 22px;
  line-height: 2rem;
  font-weight: 400;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 80px 0 80px 0;
  min-height: 30vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs:before {
  content: '';
  background-color: rgba(0, 0, 0, 0.308);
  position: absolute;
  inset: 0;
}

.breadcrumbs h2 {
  font-size: 56px;
  font-weight: 500;
  color: #fff;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #e91e63;
}

.breadcrumbs ol a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  text-decoration: none;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: '/';
}

/*--------------------------------------------------------------
#  countdown days
--------------------------------------------------------------*/
#count-down {
  background-image: url(img/call-bg.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 0;
}
/* Overlay */
.overlay {
  position: relative;
  z-index: 1;
}

.overlay::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background: #101130;
  content: '';
  transition: all 0.4s ease;
  z-index: -1;
}
.count-down.overlay::before {
  background: linear-gradient(45deg, #ff5722, #009688);
  opacity: 0.9;
}
.count-down-heading {
  text-align: center;
}
.count-down-heading h2 {
  font-size: 2.2rem;
  line-height: 1.3rem;
  font-weight: 700;
  margin: 0px 0 1rem;
  text-transform: uppercase;
  color: white;
}
.count-down-heading h3 {
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
.countdownitems {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
.countdownitems li {
  position: relative;
  list-style: none;
  flex-basis: 120px;
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 100%;
  background: #fff;
  overflow: hidden;
}
.countdownitems li:nth-child(1) span {
  color: #f7437c;
}
.countdownitems li:nth-child(2) span {
  color: #7dcd00;
}
.countdownitems li:nth-child(3) span {
  color: #ff41c3;
}
.countdownitems li:nth-child(4) span {
  color: #00baff;
}
.countdownitems li span {
  font-size: 30px;
  margin-top: 20px;
  display: inline-block;
}
.countdownitems li p {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 9px;
}
.countdownitems li:nth-child(1)::after {
  background: url(img/shape/01.png);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
  animation: 5s linear 0s infinite normal none running wave-animation;
  animation-play-state: running;
}
.countdownitems li:nth-child(2)::after {
  background: url(img/shape/02.png);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
  animation: 5s linear 0s infinite normal none running wave-animation;
  animation-play-state: running;
}
.countdownitems li:nth-child(3)::after {
  background: url(img/shape/03.png);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
  animation: 5s linear 0s infinite normal none running wave-animation;
  animation-play-state: running;
}
.countdownitems li:nth-child(4)::after {
  background: url(img/shape/04.png);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
  animation: 5s linear 0s infinite normal none running wave-animation;
  animation-play-state: running;
}
@keyframes wave-animation {
  0% {
    top: 0;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0;
  }
}

/*--------------------------------------------------------------
#  price section
--------------------------------------------------------------*/
.price-section {
  background: url(img/schedule-2-bg.png);
  background-position: center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.prize-btn {
  background-color: #43c370;
  color: white;
}
.prize-btn:hover {
  border: 1px solid #43c370;
  color: #43c370;
}
.quiz-btn {
  background-color: #1ca766;
  color: white;
}
.quiz-btn:hover {
  border: 1px solid #1ca766;
  color: #1ca766;
}
.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  color: #ec398b;
}
/* .price-tab-conent {
  background: rgba(85, 75, 185, 0.8);
  padding: 10px;
  color: white;
} */
.single-price-items {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
  padding: 40px 45px 40px 40px;
  overflow: hidden;
  position: relative;
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  /* margin-bottom: 30px; */
}
.single-price-items i {
  position: absolute;
  right: -10px;
  top: 20px;
  font-size: 55px;
  color: #bababa;
}
.single-price-items img {
  position: absolute;
  right: -10px;
  top: 20px;
  font-size: 55px;
  color: #bababa;
}
.single-price-items h3 {
  font-size: 24px;
  margin-bottom: 13px;
  font-weight: 700;
  color: rgb(28, 28, 36);
}
.single-price-items p {
  margin-bottom: 0px;
  line-height: 26px;
  font-size: 16px;
  color: #888888;
  /* color: #585858; */
}
.single-price-items .price-number {
  position: absolute;
  right: -55px;
  bottom: -55px;
  width: 120px;
  height: 120px;
  background: #e7015e;
  color: #fff;
  border-radius: 50%;
  display: block;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  padding: 25px 30px;
}

.single-price-item {
  /* padding: 10px; */
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
  /* padding: 17px 9px 17px 21px; */
  border: none;
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  margin-bottom: 15px;
}
.single-price-item h3 {
  font-size: 24px;
  margin-bottom: 13px;
  font-weight: 700;
  /* color: rgb(28, 28, 36); */
  color: white;
}
.single-price-item p {
  margin-bottom: 0px;
  line-height: 26px;
  font-size: 16px;
  /* color: #888888; */
  color: white;
  /* color: #585858; */
}
.single-price-body {
  padding: 17px 9px 17px 20px;
  background-image: linear-gradient(
    102.55deg,
    rgb(37 207 126) 20.86%,
    rgb(12 161 107) 92.2%
  );
  border-radius: 0px 4px 4px 0px;
}
.price-svg {
  padding: 0px 9px 0px 30px;
}
.single-price-body3 {
  padding: 17px 9px 17px 20px;
  background-image: linear-gradient(102.55deg, #db3aaa 20.86%, #b91d73 92.2%);
  border-radius: 0px 4px 4px 0px;
}
.single-price-body2 {
  padding: 17px 9px 17px 20px;
  background-image: linear-gradient(102.55deg, #e9c107 20.86%, #f7971e 92.2%);
  border-radius: 0px 4px 4px 0px;
}

/*--------------------------------------------------------------
#  Registration Number count section
--------------------------------------------------------------*/
#Registration-count {
  position: relative;
  padding: 100px 0px;
  background-color: #4caf50;
  overflow: hidden;
}
#Registration-count::before {
  position: absolute;
  right: -100%;
  bottom: 3%;
  background-color: rgba(255, 255, 255, 0.1);
  height: 100%;
  width: 200%;
  content: '';
  transform: rotate(8deg);
}
.Registration-count .counter-column {
  position: relative;
  margin-bottom: 20px;
}
.Registration-count .counter-column .inner-box {
  position: relative;
  padding-left: 130px;
  padding-top: 30px;
  min-height: 110px;
}
.Registration-count .counter-column .count-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 130px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110px;
}
.Registration-count .counter-column .count-icons::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  content: '';
  transition: all 300ms ease;
}
.Registration-count .counter-column .inner-box:hover .count-icons::before {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.Registration-count .counter-column .count-icons.count-icons-bg-1:before {
  background-image: url(img/shape/fun-fact-one.png);
}
.Registration-count .counter-column .count-icons.count-icons-bg-2:before {
  background-image: url(img/shape/fun-fact-two.png);
}

.Registration-count .counter-column .count-icons.count-icons-bg-3:before {
  background-image: url(img/shape/fun-fact-three.png);
}

.Registration-count .counter-column .count-icons.count-icons-bg-4:before {
  background-image: url(img/shape/fun-fact-four.png);
}

.Registration-count .counter-column .inner-box .counter-title {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 10px;
  transition: all 300ms ease;
}
.Registration-count .counter-column .count-box .count-text {
  position: relative;
  display: block;
  font-size: 48px;
  line-height: 1.2em;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Exo', sans-serif;
  transition: all 300ms ease;
}

/*--------------------------------------------------------------
#  Level section
--------------------------------------------------------------*/
.level-section {
  /* padding-top: 20px; */
}
.level-slot-class {
  background: #43c370;
  color: #fff;
  padding: 74px 10px;
  margin: 0 auto;
  text-align: center;
}
.level-slot-class2 {
  background: #1ca766;
  color: #fff;
  padding: 74px 10px;
  margin: 0 auto;
  text-align: center;
}
.level-slot-class2 span {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}
.level-slot-class span {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}
.level-slot-info {
  padding: 50px 34px 62px 170px;
  /* background-color: red; */
  border: 1px dashed #e5e5e5;
  border-left: none;
  width: 100%;
  position: relative;
}
.level-slot-info-content h3 {
  font-size: 19px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #1c1c24;
  line-height: 1.2;
}
.level-slot-info-content p {
  margin-bottom: 0;
  color: rgb(136, 136, 136);
}
.level-slot-student {
  position: absolute;
  left: 20px;
  top: 0;
  width: 120px;
  border-radius: 50%;
  height: 120px;
  bottom: 0;
  margin: auto;
}
/*--------------------------------------------------------------
#  SEGMENTS section
--------------------------------------------------------------*/
.segment {
  background-color: #f0f8ff;
}
.segment .segment-card {
  padding: 20px;
  background: #fff;
  position: relative;
  overflow: hidden;
  margin: 0 0 20px 0;
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1.6px solid #fff;
  border-radius: 5px;
}
.segment .segment-card .icon img {
  width: 39%;
  height: 92px;
  object-fit: contain;
  margin-bottom: 5px;
}

.segment .segment-card h4 {
  color: #01362f;
  font-size: 20px;
  padding: 0 9px;
  font-weight: 700;
}
.segment .segment-card h4 a {
  color: #01362f;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.segment .segment-card p {
  color: #585858;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}
.segment-card:hover {
  border-color: #43c370;
}
.segment-card:hover .icon img {
  transform: scale(-1) rotate(-180deg);
  transition: all 600ms ease;
}

/*--------------------------------------------------------------
#  ROADMAP section
--------------------------------------------------------------*/
.Roadmap-items {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
  padding: 30px 45px 30px 30px;
  overflow: hidden;
  position: relative;
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  /* margin-bottom: 20px; */
  /* height: 100%; */
}
.Roadmap-items::before {
  content: '';
  position: absolute;
  background: #43c370;
  /* background: #11998e; */
  right: -55px;
  bottom: -55px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: all 0.3s;
  z-index: -1;
}

.Roadmap-items:hover::before {
  background: #43c370;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.Roadmap-items i {
  position: absolute;
  right: -10px;
  top: 20px;
  font-size: 55px;
  color: #bababa;
  transition: all 0.3s ease-in-out;
}
.Roadmap-items:hover .roadmap-icons {
  color: white;
}
.Roadmap-items h3 {
  font-size: 24px;
  margin-bottom: 13px;
  font-weight: 700;
  color: #01362f;
}
.Roadmap-items:hover .roadmap-title {
  color: white;
}
.Roadmap-items p {
  margin-bottom: 0px;
  line-height: 24px;
  font-size: 16px;
  color: #888888;
  /* color: #585858; */
}
.Roadmap-items:hover .roadmap-content {
  color: white;
}
.Roadmap-items .Roadmap-number {
  position: absolute;
  right: -55px;
  bottom: -55px;
  width: 120px;
  height: 120px;
  /* background: #e7015e; */
  color: #fff;
  display: block;
  text-align: left;
  font-size: 21px;
  font-weight: 700;
  padding: 25px 30px;
  /* transition: all 0.3s ease-in-out; */
}

/*--------------------------------------------------------------
# start architecture design
--------------------------------------------------------------*/
.architecture-section {
  background-color: #f0f8ff;
}
.architecture-container {
  position: relative;
}

.architecture-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.architecture-text img {
  width: 50px;
  height: 50px;
  padding-bottom: 4px;
}
.architecture-text h4 {
  font-size: 28px;
  font-weight: 600;
  color: #01362f;
}
.architecture-text p {
  font-weight: 400;
  line-height: 18px;
  color: black;
  padding-top: 3px;
  font-size: 14px;
}
.architecture-text-second {
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-37%, -50%);
}
.architecture-text-second img {
  width: 50px;
  height: 55px;
  padding-bottom: 4px;
}
.architecture-text-second p {
  font-weight: 700;
  line-height: 19px;
  color: black;
  padding-top: 3px;
  font-size: 14px;
}
.architecture-text-three {
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-37%, -50%);
}
.architecture-text-three p {
  font-weight: 700;
  line-height: 21px;
  color: black;
  padding-top: 3px;
  font-size: 14px;
}
.architecture-text-three p span {
  font-size: 26px;
}

/*--------------------------------------------------------------
# MESSAGE FROM CHIEF
--------------------------------------------------------------*/
/* .message-chief {
  background-image: url(img/message-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
} */
.chief-single-item {
  border: none;
  background-color: transparent;
}
.chief-message {
  color: rgb(136, 136, 136);
  text-align: justify;
  padding-right: 15px;
  padding-left: 15px;
}

.chief-contnent h5 {
  font-weight: 600;
  font-size: 28px;
  line-height: 31px;
  text-transform: uppercase;
  border-left: 4px solid #1ca766;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #e8f6f0;
}
.chief-contnent h5 span {
  color: #33b075;
}
.chief-images {
  position: relative;
}
.chief-images-icons {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  color: #43c370;
  background-color: #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*!--------------------------------------------------------------
# MESSAGE FROM CHIEF
--------------------------------------------------------------*/
.advisory {
  background-color: #f0f8ff;
}
.advisory-card {
  padding: 20px;
  background: #fff;
  position: relative;
  overflow: hidden;
  /* margin: 0 0 20px 0; */
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border-radius: 5px;
  border-bottom: 4px solid transparent;
}
.advisory-card:hover {
  transform: translateY(-10px);
  border-bottom-color: #43c370;
}
.advisory-icons {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.advisory-card h4 {
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 700;
}
.advisory-card h4 a {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  color: #121521;
}
.advisory-card p {
  display: block;
  color: #5f5f5f;
  font-size: 14.5px;
  margin-top: 5px;
  font-weight: 600;
  margin-bottom: 0;
}
.advisory-card h6 {
  font-weight: bolder;
  font-size: 16px;
  color: #607d8b;
  padding-top: 4px;
}
.speakers-button {
  margin-top: 20px;
}
.speakers-button-link {
  background-color: #43c370;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 10px 22px;
  font-size: 17px;
  border-radius: 6px;
  transition: 0.3s all;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.speakers-button-link:hover {
  background-color: #1ca766;
}

/*!--------------------------------------------------------------
# OUR PROUD PARTNERS
--------------------------------------------------------------*/
.proud-partners {
  /* background-color: rgb(255, 255, 255); */
  background-color: #ffffff;
}
.proud-partners-images {
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #edeff2;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  margin: 1px 1px 1px 1px;
  padding: 10px;
  height: 122px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proud-partners-images img {
  width: 165px;
  /* opacity: 0.8; */
}
.dell-loog {
  width: 120px !important;
}

/*!--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
.footer {
  padding: 30px 0px;
  overflow: hidden;
  background-color: #f0f8ff;
}
.footer-contact p {
  font-size: 15px;
  font-weight: 500;
  color: #5f5f5f;
}
.copyright-footer {
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}
.copy-right-section {
  background: #1bb57b;
  padding: 10px 0px;
}

/* *
* ADVISORY BOARD page css
* ADVISORY BOARD Modal css
*/

/*!--------------------------------------------------------------
# ADVISORY BOARD Modal
--------------------------------------------------------------*/
.member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}
.member .pic img {
  transition: ease-in-out 0.3s;
}
.member:hover img {
  transform: scale(1.1);
}
.member .member-info {
  padding-left: 30px;
}
.member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
}

.member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
  color: #607d8b;
}

.member span::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #1ca766;
  bottom: 0;
  left: 0;
}

.member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}
.member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 33px;
  height: 33px;
  background: #49b985;
  text-decoration: none;
}

.member .social a i {
  color: #fff;
  font-size: 17px;
  margin: 0 2px;
}

.member .social a:hover {
  background: #1ca766;
}

.member .social a + a {
  margin-left: 8px;
}

/* *
* SEGMENTS Details page css
* SEGMENTS Details Modal css
*/
/*!--------------------------------------------------------------
# SEGMENTS Details
--------------------------------------------------------------*/
.blog .blog-details {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.blog .blog-details .post-img {
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}

.blog .blog-details .title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 30px;
}

.blog .blog-details .content {
  margin-top: 20px;
}

.blog .blog-details .content p {
  margin-bottom: 25px;
  font-size: 15px;
  text-align: justify;
}
.blog .blog-details .content ul li {
  font-size: 15px;
  padding-bottom: 8px;
  color: gray;
}

/*--------------------------------------------------------------
# SEGMENTS Sidebar
--------------------------------------------------------------*/
.blog .sidebar {
  padding: 30px;
  /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); */
  margin-bottom: 30px;
  box-shadow: 0 8px 24px #e2e8ed;
}

.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 15px;
  margin-bottom: 20px;
  /* color: #1ca766; */
  border-bottom: 1px solid #1ca766;
  text-transform: uppercase;
}

.blog .sidebar .sidebar-item + .sidebar-item {
  margin-top: 40px;
}

.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .categories ul li {
  padding: 10px 0px;
  border-bottom: 1px solid #f1f1f1;
}
.blog .sidebar .categories ul li:last-child {
  padding-top: 10px;
  padding-bottom: 0px;
  border-bottom: none;
}

.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}

.blog .sidebar .categories ul a {
  color: #01362f;
  transition: 0.3s;
  text-decoration: none;
}

.blog .sidebar .categories ul a:hover {
  color: #1ca766;
}

.blog .sidebar .tags {
  margin-bottom: -10px;
}

.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}

.blog .sidebar .tags ul li {
  display: inline-block;
}

.blog .sidebar .tags ul a {
  color: #838893;
  font-size: 15px;
  padding: 6px 16px;
  margin: 0 6px 8px 0;
  border: 1px solid rgba(131, 136, 147, 0.4);
  display: inline-block;
  transition: 0.3s;
  text-decoration: none;
}

.blog .sidebar .tags ul a:hover {
  color: #1ca766;
  border: 1px solid #1ca766;
}

.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: rgba(131, 136, 147, 0.8);
  font-size: 14px;
}
