/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  color: #444444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}
.subTitle {
  font-family: 'Oswald', sans-serif;
}
section {
  padding: 50px 0px;
  overflow: hidden;
}

/*--------------------------------------------------------------
# header section css
--------------------------------------------------------------*/
.brand-logo {
  max-width: 150px;
  height: auto;
}
.brand-logo2 {
  max-width: 100%;
  vertical-align: middle;
}
.section-title {
  text-align: center;
}
.section-title h3 {
  font-size: 2.2rem;
  line-height: 1.3rem;
  font-weight: 700;
  margin: 0px 0 1rem;
  text-transform: uppercase;
  color: #121521;
}
.section-title p {
  color: #585858;
  font-size: 22px;
  line-height: 2rem;
  font-weight: 400;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

/*--------------------------------------------------------------
#  countdown days
--------------------------------------------------------------*/
#count-down {
  background-image: url(img/counter-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center center;
}
.count-down-heading {
  text-align: center;
}
.count-down-heading h2 {
  font-size: 2.2rem;
  line-height: 1.3rem;
  font-weight: 700;
  margin: 0px 0 1rem;
  text-transform: uppercase;
  color: white;
}
.count-down-heading h3 {
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
.countdownitems {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
.countdownitems li {
  position: relative;
  list-style: none;
  flex-basis: 120px;
  width: 120px;
  height: 120px;
  margin: 10px;
  border-radius: 100%;
  background: #fff;
  overflow: hidden;
}
.countdownitems li:nth-child(1) span {
  color: #f7437c;
}
.countdownitems li:nth-child(2) span {
  color: #7dcd00;
}
.countdownitems li:nth-child(3) span {
  color: #ff41c3;
}
.countdownitems li:nth-child(4) span {
  color: #00baff;
}
.countdownitems li span {
  font-size: 30px;
  margin-top: 20px;
  display: inline-block;
}
.countdownitems li p {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 9px;
}
.countdownitems li:nth-child(1)::after {
  background: url(img/shape/01.png);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
  animation: 5s linear 0s infinite normal none running wave-animation;
  animation-play-state: running;
}
.countdownitems li:nth-child(2)::after {
  background: url(img/shape/02.png);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
  animation: 5s linear 0s infinite normal none running wave-animation;
  animation-play-state: running;
}
.countdownitems li:nth-child(3)::after {
  background: url(img/shape/03.png);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
  animation: 5s linear 0s infinite normal none running wave-animation;
  animation-play-state: running;
}
.countdownitems li:nth-child(4)::after {
  background: url(img/shape/04.png);
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-repeat: repeat-x !important;
  background-position: bottom !important;
  animation: 5s linear 0s infinite normal none running wave-animation;
  animation-play-state: running;
}
@keyframes wave-animation {
  0% {
    top: 0;
  }

  50% {
    top: 20px;
  }

  100% {
    top: 0;
  }
}

/*--------------------------------------------------------------
#  price section
--------------------------------------------------------------*/
.price-section {
  background: url(img/schedule-2-bg.png);
  background-position: center center;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.prize-btn {
  background-color: #ec398b;
  color: white;
}
.quiz-btn {
  background-color: #b91d73;
  color: white;
}
.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  color: #ec398b;
}
/* .price-tab-conent {
  background: rgba(85, 75, 185, 0.8);
  padding: 10px;
  color: white;
} */
.single-price-items {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
  padding: 40px 45px 40px 40px;
  overflow: hidden;
  position: relative;
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  /* margin-bottom: 30px; */
}
.single-price-items i {
  position: absolute;
  right: -10px;
  top: 20px;
  font-size: 55px;
  color: #bababa;
}
.single-price-items img {
  position: absolute;
  right: -10px;
  top: 20px;
  font-size: 55px;
  color: #bababa;
}
.single-price-items h3 {
  font-size: 24px;
  margin-bottom: 13px;
  font-weight: 700;
  color: rgb(28, 28, 36);
}
.single-price-items p {
  margin-bottom: 0px;
  line-height: 26px;
  font-size: 16px;
  color: #888888;
  /* color: #585858; */
}
.single-price-items .price-number {
  position: absolute;
  right: -55px;
  bottom: -55px;
  width: 120px;
  height: 120px;
  background: #e7015e;
  color: #fff;
  border-radius: 50%;
  display: block;
  text-align: left;
  font-size: 17px;
  font-weight: 700;
  padding: 25px 30px;
}

.single-price-item {
  /* padding: 10px; */
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
  /* padding: 17px 9px 17px 21px; */
  border: none;
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  margin-bottom: 15px;
}
.single-price-item h3 {
  font-size: 24px;
  margin-bottom: 13px;
  font-weight: 700;
  /* color: rgb(28, 28, 36); */
  color: white;
}
.single-price-item p {
  margin-bottom: 0px;
  line-height: 26px;
  font-size: 16px;
  /* color: #888888; */
  color: white;
  /* color: #585858; */
}
.single-price-body {
  padding: 17px 9px 17px 20px;
  background-image: linear-gradient(
    102.55deg,
    rgb(37 207 126) 20.86%,
    rgb(12 161 107) 92.2%
  );
  border-radius: 0px 4px 4px 0px;
}
.price-svg {
  padding: 0px 9px 0px 22px;
}
.single-price-body3 {
  padding: 17px 9px 17px 20px;
  background-image: linear-gradient(102.55deg, #db3aaa 20.86%, #b91d73 92.2%);
  border-radius: 0px 4px 4px 0px;
}
.single-price-body2 {
  padding: 17px 9px 17px 20px;
  background-image: linear-gradient(102.55deg, #e9c107 20.86%, #f7971e 92.2%);
  border-radius: 0px 4px 4px 0px;
}
/*--------------------------------------------------------------
#  Level section
--------------------------------------------------------------*/
.level-section {
  padding-top: 20px;
}
.level-slot-class {
  background: #d20055;
  color: #fff;
  padding: 50px 10px;
  margin: 0 auto;
  text-align: center;
}
.level-slot-class2 {
  background: #e7015e;
  color: #fff;
  padding: 50px 10px;
  margin: 0 auto;
  text-align: center;
}
.level-slot-class2 span {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}
.level-slot-class span {
  text-align: center;
  font-size: 21px;
  font-weight: 700;
}
.level-slot-info {
  padding: 50px 34px 62px 170px;
  /* background-color: red; */
  border: 1px dashed #e5e5e5;
  border-left: none;
  width: 100%;
  position: relative;
}
.level-slot-info-content h3 {
  font-size: 19px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #1c1c24;
  line-height: 1.2;
}
.level-slot-info-content p {
  margin-bottom: 0;
  color: rgb(136, 136, 136);
}
.level-slot-student {
  position: absolute;
  left: 20px;
  top: 0;
  width: 120px;
  border-radius: 50%;
  height: 120px;
  bottom: 0;
  margin: auto;
}
/*--------------------------------------------------------------
#  SEGMENTS section
--------------------------------------------------------------*/
.segment {
  background-color: #f0f8ff;
}
.segment .segment-card {
  padding: 20px;
  background: #fff;
  position: relative;
  overflow: hidden;
  margin: 0 0 20px 0;
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 3px;
}
.segment .segment-card .icon img {
  width: 39%;
  height: 92px;
  object-fit: contain;
  margin-bottom: 5px;
}

.segment .segment-card h4 {
  color: #01362f;
  font-size: 20px;
  padding: 0 9px;
  font-weight: 700;
}
.segment .segment-card h4 a {
  color: #01362f;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.segment .segment-card p {
  color: #585858;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}
.segment-card:hover {
  border-color: #01362f;
}
.segment-card:hover .icon img  {
  transform: scale(-1) rotate(-180deg);
  transition: all 600ms ease;
}

/*--------------------------------------------------------------
#  ROADMAP section
--------------------------------------------------------------*/
.roadmap {
}
.Roadmap-items {
  box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.08);
  padding: 30px 45px 30px 30px;
  overflow: hidden;
  position: relative;
  background: #fff;
  z-index: 2;
  border-radius: 5px;
  margin-bottom: 20px;
}
.Roadmap-items::before {
  content: '';
  position: absolute;
  background: #e7015e;
  right: -55px;
  bottom: -55px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: all 0.3s;
  z-index: -1;
}

.Roadmap-items:hover::before {
  background: #e7015e;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.Roadmap-items i {
  position: absolute;
  right: -10px;
  top: 20px;
  font-size: 55px;
  color: #bababa;
  transition: all 0.3s ease-in-out;
}
.Roadmap-items:hover .roadmap-icons {
  color: white;
}
.Roadmap-items h3 {
  font-size: 24px;
  margin-bottom: 13px;
  font-weight: 700;
  color: #01362f;
}
.Roadmap-items:hover .roadmap-title {
  color: white;
}
.Roadmap-items p {
  margin-bottom: 0px;
  line-height: 24px;
  font-size: 16px;
  color: #888888;
  /* color: #585858; */
}
.Roadmap-items:hover .roadmap-content {
  color: white;
}
.Roadmap-items .Roadmap-number {
  position: absolute;
  right: -55px;
  bottom: -55px;
  width: 120px;
  height: 120px;
  /* background: #e7015e; */
  color: #fff;
  display: block;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  padding: 25px 30px;
  /* transition: all 0.3s ease-in-out; */
}
